@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?tomleg');
  src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.style_red {
  color: #c81623;
}
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: #f1f1f1;
}
.shortcut .fl li {
  float: left;
}
.shortcut .fr {
  float: right;
}
.shortcut .fr li {
  float: left;
  font-size: 12px;
  color: #666666;
}
.s {
  width: 1px;
  height: 12px;
  background-color: #666666;
  margin: 9px 14px 10px 16px;
}
.arrow-icon::after {
  content: '\e91e';
  font-family: 'icomoon';
  margin-left: 6px;
}
.header {
  position: relative;
  height: 106px;
}
.header .logo {
  position: absolute;
  width: 171px;
  height: 61px;
  top: 26px;
}
.header .logo a {
  width: 171px;
  height: 61px;
  display: block;
  background: url(../images/logo.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
}
.search {
  position: absolute;
  height: 37px;
  width: 539px;
  border: 2px solid #b1191a;
  top: 25px;
  left: 347px;
}
.search input {
  float: left;
  width: 454px;
  height: 32px;
}
.search button {
  float: left;
  color: #ffffff;
  font-size: 17px;
  height: 33px;
  width: 81px;
  background-color: #b1191a;
}
.hotwords {
  color: #c81623;
  position: absolute;
  font-size: 12px;
  left: 359px;
  top: 66px;
}
.hotwords a {
  padding-right: 22px;
}
.shopcar {
  position: absolute;
  width: 140px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
  top: 27px;
  right: 64px;
}
.shopcar::before {
  content: '\e93a';
  font-family: 'icomoon';
  font-size: 13px;
  color: #db5b5b;
  margin-left: 19px;
  margin-right: 7px;
}
.shopcar::after {
  content: '\e920';
  font-family: 'icomoon';
  font-size: 13px;
  margin-left: 10px;
}
.nav {
  height: 46px;
  border-bottom: 2px solid #b1191a;
}
.nav .w {
  position: relative;
}
.nav .w .dropdown .dt {
  float: left;
  line-height: 46px;
  width: 209px;
  background-color: #b1191a;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}
.nav .w .navitems {
  position: absolute;
  left: 250px;
  top: 0;
}
.nav .w .navitems li {
  float: left;
  line-height: 46px;
  padding-left: 44px;
  font-size: 17px;
  color: #333333;
}
.w {
  position: relative;
}
.w .dd {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 209px;
  height: 466px;
  border-left: 1px solid #c81623;
}
.w .dd li {
  height: 31px;
  background-color: #c81623;
  line-height: 31px;
}
.w .dd li:hover {
  background-color: #f7f7f7;
}
.w .dd li:hover a {
  color: red;
}
.w .dd li a {
  margin-left: 16px;
  color: #ffffff;
}
.w .dd li::after {
  position: absolute;
  content: '\e920';
  font-family: 'icomoon';
  left: 192px;
  color: #f4eaeb;
}
.w .swiper {
  display: none;
  position: relative;
  float: left;
  width: 722px;
  height: 455px;
  background-color: #998888;
  margin-top: 11px;
  left: 219px;
}
.footer {
  height: 417px;
  background-color: #f5f5f5;
}
.footer .footer_inside {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 417px;
}
.footer .footer_inside .dd {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 209px;
  height: 466px;
  border-left: 1px solid #c81623;
}
.footer .footer_inside .dd li {
  height: 31px;
  background-color: #c81623;
  line-height: 31px;
}
.footer .footer_inside .dd li:hover {
  background-color: #f7f7f7;
}
.footer .footer_inside .dd li:hover a {
  color: red;
}
.footer .footer_inside .dd li a {
  margin-left: 16px;
  color: #ffffff;
}
.footer .footer_inside .dd li::after {
  position: absolute;
  content: '\e920';
  font-family: 'icomoon';
  left: 192px;
  color: #f4eaeb;
}
.footer .footer_inside .swiper {
  display: none;
  position: relative;
  float: left;
  width: 722px;
  height: 455px;
  background-color: #998888;
  margin-top: 11px;
  left: 219px;
}
.footer .footer_inside .footer_top {
  height: 110px;
  border-bottom: 1px solid #ededed;
  padding-top: 31px ;
}
.footer .footer_inside .footer_top li {
  height: 50px;
  float: left;
  padding-left: 36px;
}
.footer .footer_inside .footer_top li h5 {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  background: url(../images/icons.png) no-repeat -252px -2px;
}
.footer .footer_inside .footer_top li .service_txt {
  margin-top: 8px;
  float: left;
}
.footer .footer_inside .footer_top li .service_txt .h4 {
  font-size: 14px;
  font-weight: 700;
}
.footer .footer_inside .footer_top li .service_txt p {
  font-size: 12px;
}
